{% extends 'managebase.html'%}
{% block nav %}
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box-header -->
        
        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
               <li><a href={{curl}}mahd748hdYd/ >Home</a></li>
               <li><a href={{curl}}mahd748hdYd/search/ >Search</a> <i class="ion-ios-circle-filled color"></i></li>
                
                <li><a href={{curl}}mahd748hdYd/mlapplicants/ >Check Leave Applicants</a></li>
                <li><a href={{curl}}mahd748hdYd/mlattendance/ >Upload Attendance</a> </li>
                
                <li><a href={{curl}}mahd748hdYd/mlapproval/ >Leave Approval</a></li>
                
                <li><a href={{curl}} >Logout</a></li>
            </ul>
        </nav>
        {% endblock%}
{% block topbar %}
    <!-- top-bar -->
    <div class="top-bar">
        <h1>Search</h1>
        <p><a href={{curl}}mahd748hdYd/ >HOD-Home</a>  / Dashboard</p>
        <font color="green" style="height:20px;">{{output}}</font>
        <font color="red" style="height:20px;">{{out}}</font>
        <p> <form action={{curl}}mahd748hdYd/search/ method="POST">
{% csrf_token %}
<select name="field">
    <option >Search By:</option>
    <option >First Name</option>
    <option >Last Name</option>
    <option >Gender</option>
    <option >Email</option>
    <option >Attendance %(>)</option>
    <option >Attendance %(<)</option>
    <option >Salary(<)</option>
    <option >Salary(>)</option>
    <option >Industry Experience</option>
    <option >Academic Experience</option>
    <option >Research Experience</option>
    <option >Department Name</option>
    <option >Date Of Birth(Year)</option>
    


<br></br>

    <input type="text" placeholder="Search" name="value" required>
    <p></p>
    
   
    <button type="submit">Search</button>  
</div>
</form></p>

    </div>
    <!-- end top-bar -->
    {% endblock %}
    {% block container %}
    <!-- main-container -->
   <div class="container main-container">
        

        <div class="col-md-12">
            <h3 class="text-uppercase">Results</h3>
            <div class="h-30"></div>
        </div>

{% for details in dlist %}
        <div class="col-md-3">
            <ul class="cat-ul">
                <li><i class="ion-ios-circle-filled"></i>{{details.first}} {{details.second}} </li>
                <li>Email: {{details.email}} </li>
                <li>Phone Number: {{details.mobile}} </li>
                <li>Gender: {{details.gender}} </li>
                {% for u in details.dob %}
                <li>Date Of Birth: {{u.1}}/{{u.2}}/{{u.3}}</li>
                {% endfor %}
                <li>Attendance %: {{details.per}}</li>
                <li>Salary: {{details.salary}}</li>
                <li>Department Name: {{details.deptn}}</li>
                <li>Department ID: {{details.depti}}</li>
                <li>Industry Experience: {{details.industry}}</li>
                <li>Academic Experience: {{details.academic}}</li>
                <li>Research Experience: {{details.research}}</li>
                <table>
  <tr>
    <th>|Examination Passed|</th>
    <th>Year Passing|</th>
    <th>Board|</th>
    <th>Marks|</th>
    <th>Principal Subjects|</th>
  </tr>
  {% for a in details.ac %}
  <tr>
    <td>{{a.1}}</td>
    <td>{{a.2}}</td>
    <td>{{a.3}}</td>
    <td>{{a.4}}</td>
    <td>{{a.5}}</td>
  </tr>
 {% endfor %}
</table>
                <li>Workshop Attended:</li>
                {% for wo in details.workshopa %}
                <li>{{wo.1}}:{{wo.2}}</li>
                {% endfor %}
                <li>Workshop Organised:</li>
                {% for w in details.workshopo %}
                <li>{{w.0}}</li>
                {% endfor %}
                <li>Acheivements:</li>
                {% for t in details.ach %}
                <li>{{t.0}}</li>
                {% endfor %}
                <li>Certifications:</li>
                {% for ce in details.cert %}
                <li>{{ce.0}}</li>
                {% endfor %}
                <li>Strengths:</li>

                {% for b in details.stre %}
                <li>{{b.0}}</li>
                {% endfor %}
                <li>Weaknesses:</li>
                {% for c in details.weakness %}
                <li>{{c.0}}</li>
                {% endfor %}
            </ul>
        </div>
{% endfor %}
    </div>
    <!-- end main-container -->
    {%endblock %}