{% extends 'userbase.html'%}
{% block nav %}
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box-header -->
        
        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
               <li><a href={{curl}}uy43hBgd843/ >Home</a> </li>
                <li><a href={{curl}}uy43hBgd843/uleave/ >Apply For Leave</a></li>
                <li><a href={{curl}}uy43hBgd843/uattendance/ >Check Attendance</a></li>
                
                <li><a href={{curl}}uy43hBgd843/addinfo/ >Add Professional Details</a><i class="ion-ios-circle-filled color"></i></li>
                <li><a href={{curl}}uy43hBgd843/usalary/ >Check Salary</a></li>
                
                <li><a href={{curl}} >Logout</a></li>
            </ul>
        </nav>
        {% endblock%}
{% block topbar %}
    <!-- top-bar -->
    <div class="top-bar">
        <h1>Add Professional Details</h1>
        <p><a href={{curl}}uy43hBgd843/ >Faculty-Home</a>  / Dashboard</p>
        <div class="container" style="background-color:#f1f1f1">
    
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/academic/ >Academic Details</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/workexp/ >Work Experience</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/achievements/ >Achievements</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/certifications/>Certifications</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/workshopa/ >Workshop Attended</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/workshopo/ >Workshop Organised</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/strengths/ >Strengths</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <p></p>
    <span class="psw">ADD <a href={{curl}}uy43hBgd843/weakness/ >Weakness</a></span>
  </div>
<p></p>

    <!-- end top-bar -->
    {% endblock %}
    {% block container %}
    <!-- main-container -->
    <!--<div class="container main-container">
        
    </div>-->
    <!-- end main-container -->
    {%endblock %}