{% extends 'userbase.html'%}
{% block nav %}
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box-header -->
        
        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
               <li><a href={{curl}}uy43hBgd843/ >Home</a></li>
                <li><a href={{curl}}uy43hBgd843/uleave/ >Apply For Leave</a></li>
                <li><a href={{curl}}uy43hBgd843/uattendance/ >Check Attendance</a></li>
                <li><a href={{curl}}uy43hBgd843/addinfo/ >Add Professional Details</a></li>
                <li><a href={{curl}}uy43hBgd843/usalary/ >Check Salary</a> <i class="ion-ios-circle-filled color"></i></li>
                
                <li><a href={{curl}} >Logout</a></li>
            </ul>
        </nav>
        {% endblock%}
{% block topbar %}
    <!-- top-bar -->
    <div class="top-bar">
        <h1>Check Salary</h1>
        <p><a href={{curl}}uy43hBgd843/ >Faculty-Home</a>  / Dashboard</p>
    </div>
    <!-- end top-bar -->
    {% endblock %}
    {% block container %}
    <!-- main-container -->
    <div class="container main-container">
        

        <div class="col-md-12">
            <h3 class="text-uppercase">Your Detailed Salary is Shown Below</h3>
            <div class="h-30"></div>
        </div>
        <div class="col-md-3">
            <ul class="cat-ul">
                <li><i class="ion-ios-circle-filled"></i>Total Salary(monthly): {{sal}}</li>
                <li>Net Salary: {{net}}</li>
                <li>CTC(10%): {{ctc}}</li>
                <li>Professional Tax(0.363): {{pt}}</li>
                <li>Employer PF(3.27): {{erf}}</li>
                <li>Employee PF(3.27): {{erf}}</li>
                <li>Employee Insurance(0.45): {{ei}}</li>
            </ul>
        </div>
    </div>
    <!-- end main-container -->
    {%endblock %}



